@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=latin,latin-ext);

@import '../../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;


//Variables
$primary-bg:#163965;
$color-head:#163965;
$gray:#CCCCCC;
$dark-gray:#545454;
$green:#83B869;
$red:#b4272d;
$yellow:#d29d1d;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family:'Open Sans',serif;
  font-size:16px;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.button{
  font-weight:bold;
}
.textInput{
  padding:6px 0;
}


header{
  background:$primary-bg;
  .logo{
    background:url('../images/logo.png') no-repeat;
    display:block;
    height:55px;
    text-indent:-9999px;
    width:178px;
  }
}
.contentLogin{
  h1{
    color:$color-head;
    font-size:1.5rem;
    font-weight:bold;
    margin:2rem 0;
  }
  #nickError{
    display:none;
  }
}

#loginForm{
  input{
    width:200px;
  }
}

footer{
  background:$gray;
  color:$dark-gray;
  font-size:rem-calc(11);
  padding:10px;
}



.contentWindow{
  h2{
    color:$color-head;
    display: inline-block;
    font-weight: bold;
    margin: 14px 0;
    padding: 9px 0;
    position: relative;
    vertical-align: top;
    width: 100%;
    span{
      background: #fff none repeat scroll 0 0;
      display: inline-block;
      padding: 9px 10px;
      position: relative;
      z-index: 2;

    }
    &:after{
      background:$light-gray;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      top: 28px;
      width: 100%;
      z-index: 1;
    }


  }
  .usersChat{
    &:before{
      background: $primary-bg url("../images/sprite.png") no-repeat scroll 9px 9px;
      border-radius: 20px;
      content: "";
      display: inline-block;
      height: 40px;
      position: relative;
      vertical-align: middle;
      width: 40px;
      z-index: 2;
    }
  }
  .gameSection{
    &:before{
      background: $primary-bg url("../images/sprite.png") no-repeat scroll 4px -115px;
      border-radius: 20px;
      content: "";
      display: inline-block;
      height: 40px;
      position: relative;
      vertical-align: middle;
      width: 40px;
      z-index: 2;
    }
  }
  #chatWrap{
    border: 1px $light-gray solid;
    box-sizing:border-box;
    float: left;
    margin-bottom:20px;
    padding:10px;
    width:100%;
  }
  #chatMessage{
    border-top:1px solid $light-gray;
    padding-top:15px;
    input{
      width:100%;
    }
    .button{
      margin-bottom:0;
    }
  }
}
.interfaceCont{
  padding-left:50px;
  margin-bottom:10px;
}
.runGame{
  box-sizing:border-box;
  display:block;

  width:100%;
  strong{
    color:$color-head;
  }
}


.opponentShip,
.myShip{
  background:$light-gray;
  height: 70px;
  margin-bottom: 30px;
  width: 100%;
}
.selectField{
  background:$green;
}

.opponentShip{
  &:hover{
    background:$red;
  }
}
.greenShoot{
  background:$green;
}
.yellowShoot{
  background:$yellow;
}
.redShoot{
  background:$red;
}

.myUserPanel{
  background: #163965 url("../images/sprite.png") no-repeat scroll 8px -31px;
  color: #fff;
  display: none;
  float: right;
  font-weight: bold;
  padding: 19px 0 19px 45px;
}
.shotArea{
  display:none;
}
